*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url('file:///C:/Users/Aorus/Documents/Boolean/Lezioni%20Gratuite/Coding%20Challenge/background.jpg');
  background-size: cover;
  line-height: 5px;
}

.container{
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 150px;
  margin: 2% 20% 25%;
}

header{
  text-align: center;
}

.logo{
  width: 250px;
}

.logo-text{
  color: #00dd00;
}

nav{
  background-color: #00dd00;
  padding: 10px;
  text-align: center;
}

.monopattini{
  color: white;
}

h2{
  display: inline-block;
  font-size: 20px;
  margin-bottom: 2px;
}

section{
  margin-top: 25px;
}

div  p{
  color: lightgrey;
}

.arrow:before{
  content: '\21A6';
}

.barra1, .barra2, .barra3{
  border-radius: 5px;
  padding: 15px;
}

.barra1{
  background-color: #f5b453;
  width: 30%;
}

.barra2{
  background-color: #1ec31e;
  width: 60%;
}

.barra3{
  background-color: #be4141;
  width: 15%;
}
